* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e9e4e4;
  color: #212121;
  line-height: 1.5;

  margin: 0;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

.link {
  text-decoration: none;
}

/*-Контейнер для обмеження контенту по ширині-*/
.container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.country-list__item {
  display: flex;
}

.country-list__img {
  margin-right: 20px;
  margin-bottom: 10px;
}

/*Стилі хедера*/
.header {
  position: fixed;
  width: 100%;
  max-width: inherit;
  /*margin-bottom: 30px;*/
  background-color: #4248a5;
}

.search-container {
  display: flex;
  justify-content: center;

  padding-top: 0;
  padding-bottom: 20px;
  text-align: center;
}

.search-form {
  display: flex;
  align-items: flex-end;
}

input {
  margin-top: 20px;
  margin-right: 10px;

  border-radius: 4px;
  border: none;

  width: 300px;
  height: 40px;
  outline: none;
}

.btns {
  width: 100px;
  height: 40px;

  padding: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background: #17c247;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;

  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: white;
}

.btns:hover,
.btns:focus {
  background: #40923d;
  color: rgb(189, 167, 167);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
/*Стилі однієї картинки*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 100px;
}

.gallery-item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
  text-decoration: none;
}

.photo-card {
  margin-bottom: 20px;
  margin-left: 20px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.photo-img {
  min-width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.info-item {
  display: block;
  margin-bottom: 0px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  color: #212121;
}

.info-item:not(:last-child) {
  margin-right: 8px;
}

.info-text {
  display: block;
  font-size: 15px;
}

/*Кнопка загрузити ще */
.confines-container {
  padding-bottom: 80px;
}

.load-more {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background: #2196f3;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:hover,
.load-more:focus {
  background-color: #188ce8;
}

.load-more.is-hidden {
  display: none;
}

.load-more > .spinner.is-hidden {
  display: none;
}
